.kategori-icon{
  width: 150px;
  height: 150px;
}
.kategori{
  height:400px;
  overflow: hidden;
}
.kategori h3{
  height: 52px;
}
.yayasan-box{
  width: 100%;
}
.event-box{
  height:200px;
  border-radius: 5px;
  border:1px solid #ddd;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.event-box .event-picture{
  background: #ddd;
  height:100%;
  padding:0px;
}
.event-box .event-description{
  height: 80%;
  padding-top: 5px;
  word-break: break-all;
  overflow: hidden;
}
.clear {
  clear:both;
  line-height:0;
}